
### vim swap files
*.swp


### Packer template
# Cache objects
packer_cache/
# output directories
output*/

# For built boxes
*.box

### special stuff

# exclude exe/bat files. currently testing only
*.bat
*.exe

# exclude installer files
data/installer*/*.jar
data/installer*/*.sh

# exclude teamviewer.deb
data/teamviewer_linux.deb