[Unit]
Description=Caddy install root Certificate
After=caddy.service

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/bin/caddy trust
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
