#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/usr/share/icons/mate/48x48/apps/config-users.png
Exec=/usr/local/sbin/openthinclient-changepassword
Name[en_US]=change password
Comment[en_US]=Change password of the openthinclient user
Name=change password
Comment=Change password of the openthinclient user
Name[de]=Passwort ändern
Comment[de]=Änderung des Passwort für den openthinclient Benutzer
Icon=/usr/share/icons/mate/48x48/apps/config-users.png
