[Desktop Entry]
Name=Edit openthinclient package sources
GenericName=Edit openthinclient package sources
Comment=Change, remove and upgrade software packages sources
Exec=sudo /usr/local/sbin/openthinclient-edit-sources-lst-lite
Icon=synaptic
Terminal=false
Type=Application
Categories=PackageManager;GTK;System;Settings;
NotShowIn=KDE;
X-Ubuntu-Gettext-Domain=synaptic
Comment[en_US.UTF-8]=Edit package sources for the openthinclient server
Name[en_US]=Edit openthinclient package sources
