[Desktop Entry]
Encoding=UTF-8
Name=Livesupport (powered by levigo)
Comment=openthinclient livesupport by levigo
GenericName=Livesupport (powered by levigo)
X-GNOME-FullName=Livesupport (powered by levigo)
Exec=iceweasel %u https://livesupport.levigo.de/
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/local/share/openthinclient/icons/openthinclient_professional_support.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Iceweasel
StartupNotify=true
Name[en_US]=Livesupport (powered by levigo)
