[Desktop Entry]
Encoding=UTF-8
Name=openthinclient Manager WebConsole
GenericName=openthinclient Manager WebConsole
X-GNOME-FullName=openthinclient Manager WebConsole
Exec=firefox %u http://localhost:8080
Terminal=false
X-MultipleArgs=false
Type=Application
Icon[en_US]=/usr/local/share/openthinclient/icons/openthinclient_manager.png
Icon=/usr/local/share/openthinclient/icons/openthinclient_manager.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=firefox
StartupNotify=true
Name[en_US]=openthinclient Manager WebConsole
Comment[en_US]=Start the openthinclient Manager WebConsole
Comment=Start the openthinclient Manager WebConsole
