#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/usr/local/share/openthinclient/icons/openthinclient_service_restart.png
Exec=mate-terminal -e "sudo /usr/local/sbin/openthinclient-restart"
Name[en_US]=openthinclient service restart
Comment[en_US]=restart the openthinclient service
Name=openthinclient service restart
Comment=restart the openthinclient service
Icon=/usr/local/share/openthinclient/icons/openthinclient_service_restart.png
