#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/local/sbin/openthinclient-changepassword
Icon=/usr/share/icons/mate/48x48/apps/config-users.png
Name[de]=Passwort ändern
Name[en_US]=change password
Comment[de]=Benutzerpasswort ändern für den Benutzer "openthinclient"
Comment[en_US]=Change password for user "openthinclient"
Terminal=false