#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Exec=firefox %u https://wiki.openthinclient.org/display/OMD/Virtual+Appliance
Icon=/usr/local/share/openthinclient/icons/openthinclient_readme.png
Name=README
Comment=README for openthinclient-Virtual Appliance
Terminal=false