#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Exec=mate-terminal -e "sudo /usr/local/sbin/openthinclient-restart"
Icon=/usr/local/share/openthinclient/icons/openthinclient_service_restart.png
Name[de_DE]=openthinclient-Management-Server neu starten
Name[en_US]=openthinclient-Management-Server restart
Comment[de_DE]= openthinclient-Dienst wird im ersten Schritt angehalten und anschließend neu gestartet
Comment[en_US]= openthinclient-service is stopped in the first step and then restarted 
Terminal=false