[Desktop Entry]
Encoding=UTF-8
Name=professional support & hardware
Comment=Get professional support and services
GenericName=professional support and services
X-GNOME-FullName=professional support & hardware
Exec=iceweasel %u http://www.openthinclient.com/service
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/local/share/openthinclient/icons/openthinclient_professional_support.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Iceweasel
StartupNotify=true
Name[en_US]=professional support and services
