#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Icon[en_US]=/usr/local/share/openthinclient/icons/openthinclient_readme.png
Terminal=false
Name[en_US]=README
Exec=evince /usr/local/share/openthinclient/documentation/README-openthinclient-VirtualAppliance.pdf
Comment[en_US]=README file
Name=README
Comment=README file
Icon=/usr/local/share/openthinclient/icons/openthinclient_readme.png
