#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Version-information
Comment=Information about thhe openthinclient Appliance
Exec=/usr/local/bin/openthinclient-vmversion
Icon=/usr/local/share/openthinclient/icons/openthinclient_pales_version.png
Path=
Terminal=false
StartupNotify=false
GenericName=
Name[en_US]=Version-information
