#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/vncviewer
Icon=nm-device-wired
Icon[en_US]=nm-device-wired
Name=VNC Viewer
Name[en_US]=VNC Viewer
Terminal=false
