[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=Network;RemoteAccess;
Icon=/usr/local/share/openthinclient/icons/openthinclient_support.png
Exec=/opt/openthinclient-remote-support/openthinclient-support-x86_64.AppImage
Name=RemoteSupport
Comment=Remote Support powered by RustDesk
GenericName=Remote Support
X-GNOME-FullName=openthinclient-RemoteSupport
X-MultipleArgs=false
StartupWMClass=openthinclient-support
StartupNotify=true
Terminal=false
