[Desktop Entry]
Version=1.0
Type=Application
X-LightDM-Session-Type=x
Exec=/usr/local/bin/openthinclient-greeter.py
Name=LightDM-openthinclient-greeter
