:root {
  --background-color: #111;
  --text-color: white;
  --welcome-background: linear-gradient(150deg, #00ff00, #0000ff);
  --nav-button-color: black;
  --nav-button-background-color: white;
  --nav-button-border-color: black;
  --nav-button-inverse-color: white;
  --nav-button-inverse-background-color: black;
  --input-background-color: #111;
  --input-color: white;
  --input-border-color: white;
}
