[Unit]
Description=Make chromium trust the Caddy SSL Certificate
ConditionUser=openthinclient
ConditionPathExists=!/home/openthinclient/.pki/nssdb

[Service]
Type=oneshot
ExecStartPre=bash -c 'until systemctl is-active caddy-install-trust.service; do sleep 0.5; done'
ExecStart=/usr/local/bin/chromium-trust-caddy
RemainAfterExit=true

[Install]
WantedBy=default.target
